*{
    font-family: monospace;
    font-size: 100%;
}

header{
    background-image: linear-gradient(to bottom right, pink, yellow, pink, purple);
    margin: 5px 5px 0px;
    padding: 30px 0px;
    border-bottom: solid;
    border-color: purple;
}

header > h1{
    color:purple;
    text-align: right;
    font-size: xx-large;
}