*{
    font-family: monospace;
    font-size: 100%;
}

header, nav{
    background-image: linear-gradient(to bottom right, pink, yellow, pink, purple);
    width: 100%;
    margin-top: 10px;
    padding: 20px 0px;
    border-bottom: solid purple;
}

header > h1{
    color:purple;
    text-align: right;
}

nav, aside, section{
    display: inline-block;
}

body > nav{
    width: 15%;
    float: left;
    border-top: solid purple;
}

body > nav > ul > li > a:hover{
    background-color: purple;
    color:white;
    padding: 1%;
    font-weight: bold;
}

body > nav > ul{
    line-height: 2em;
    list-style-type: square;
    text-align: left;
}

body > nav:hover{
    background-image: linear-gradient(to bottom right, purple, pink, yellow, pink);
}

body > aside{
    width: 20%;
    margin-top: 15px;
    margin-left: 40px;
}

body > aside > p{
    color: purple;
}

body > section{
    margin-top: 15px;
    width: 50%;
    float: right;
}

body > section > p{
    text-align: left;
    color: black;
}

footer{
    background-image: linear-gradient(to top left, pink, yellow, pink, purple);
    border-top: solid purple;
    width: 100%;
    margin-top: 230px;
    padding: 10px 0px;
    clear: both;
}

footer > p{
    text-align: center;
    color: purple;    
    font-size: 80%;
}